<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
    <!-- <div id="app">
        Hello {{ x + y }}
        {{ x * 'asdsad' }}
        <hr>

        {{ list.join('_') }}

        {{ info }}
       
    </div>  -->

  <!-- <hr />
    <div id="app-2">
        {{ className }}
        <span 
            v-bind:title="className + '___asdasdad'"
            :data-example="value*200 || 'default'"
            v-bind:style="appearence  + 'font-size:' + value*3 + 'px'">
            span inner text
        </span>
        <span 
            :style="appearence + 'font-size:' + value + 'px'"
            :title="appearence">
            span inner text
        </span>
    </div>

    <hr /> -->

    <!-- <div id="app-3">
        <span v-if="seen">Сейчас меня видно {{info}}</span>
    </div> -->
 
    <!-- <hr />

    <div id="app-4">
        <ol>    
            <li v-for="(item, index) in list" v-if="item.text">
                {{ item.text }}
            </li>
        </ol>
        <hr>
        <ol>    
            <li v-for="(value, key) in info" >
                {{ key }}: {{ value }}
            </li>
        </ol>
    </div>

    <hr> -->
    <!-- <div id="app-5"> -->
        <!-- <span>
            {{ calculate(8) }}
            <span v-html="calculate(8)"></span>
            counter: {{counter}}
        </span>
        

            
        <button 
            v-for="elem in list" 
            @dblclick="onClick($event, elem)">
            Click
        </button> -->

        <!-- counter: {{counter}}
        <button @click="onClick">
            Click
        </button>
        <div 
            class="test"
            :class="{'active': counter > 10}"
        >

        </div>
        <button @click="addRandClass">Add random class</button>
    </div>

    <hr> -->

     <!-- <div id="app-6">
        <p v-if="switcher">{{ message }}</p>
        Event oriented: <input @input="onInput" :value="message">
        <hr>
        Two-way binding: <input v-model="message">

        <input type="checkbox" v-model="switcher">
    </div> -->
<!--
    <hr>

    <hr>

    <hr>  -->

    <!-- <hr>
    -->
    <script src="./main.js"></script>
</body>
</html>